.button {
  &-filter {
    padding: 0;
    background-color: #f5f4fa;
    color: var(--color-blackish);
    cursor: pointer;
    border-radius: 4px;
    border: none;
    height: 38px;
    width: 121px;
    font-weight: 500;
    font-size: var(--default-font-size);
    line-height: 1.625;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-filter:is(:hover, :focus) {
    background-color: var(--color-blueish);
    color: white;
    box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
      0px 3px 1px 0px #0000001a;
  }
}
.order-service {
  &__button {
    background-color: var(--color-blueish);
    color: white;
    border: none;
    border-radius: 4px;
    height: 50px;
    width: 200px;
    cursor: pointer;
    font-weight: 700;
    font-size: var(--default-font-size);
    line-height: 1.875;
    letter-spacing: 0.06em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: #1b73bb;
    }
    &:active {
      background-color: #1663a3;
    }
  }
}
.sign-up {
  &__button {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    font-size: var(--default-font-size);
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;

    background-color: #2196f3;
    color: white;

    padding: 10px 28px 10px 42px;
    width: 200px;
    height: 50px;

    white-space: nowrap;

    border: none;
    border-radius: 4px;

    box-shadow: var(--cubic-transition-box-shadow);

    transition: var(--cubic-transition-bg-colo);

    &:hover {
      background-color: #1b73bb;
    }
    &:active {
      background-color: #1663a3;
    }
  }
}
.form__button {
  margin: 0 auto;

  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;

  background-color: #2196f3;
  color: white;

  padding: 10px 76px;

  border-radius: 4px;
  border: none;

  cursor: pointer;
  box-shadow: var(--cubic-transition-box-shadow);

  transition-delay: 0.7s, 0.7s;
}
