.cards {
  &__heading {
    color: var(--color-blackish);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 4px;
    letter-spacing: 0.06em;
  }
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      cursor: pointer;
      box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
        0px 1px 1px 0px #0000001f;
      transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &__item:hover &__overflow--background {
    transform: translateY(0);
    overflow: visible;
  }
  &__info {
    border: 1px solid #eeeeee;
    padding: 20px 24px;
  }
  &__description {
    color: var(--color-greyish);
    font-size: var(--default-font-size);
    line-height: 1.875;
    letter-spacing: 0.03em;
  }
  &__overflow {
    position: relative;
    overflow: hidden;
    &--background {
      pointer-events: none;
      position: absolute;

      font-size: 18px;
      line-height: 1.556;
      letter-spacing: 0.03em;

      width: 370px;
      height: 294px;

      padding: 49px 45px 49px 24px;
      inset: 0;

      background-color: #2196f3e5;
      color: white;

      transform: translateY(100%);
      transition: var(--cubic-transition-transform);
    }
  }
}
