.footer {
  background-color: #2f303a;
  color: white;
  &__logo {
    color: white;
    margin-bottom: 20px;
    letter-spacing: 0.03em;
  }
  &__headings {
    display: flex;
    cursor: text;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.143;
    letter-spacing: 0.03em;
  }
  &__list {
    display: flex;
    align-items: baseline;
  }
  &__item {
    display: flex;
    flex-direction: column;
    &:first-child {
      margin-right: 70px;
    }
  }
  .socials__link {
    fill: white;
    background: #ffffff1a;
  }
  .socials__link:hover {
    fill: white;
    background: var(--color-blueish);
  }
}
