.header {
  padding: 24px 0;
  border-bottom: 1px solid #ececec;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
