.navbar {
  &__list {
    display: flex;
    margin-left: 93px;
  }
  &__item {
    position: relative;
    &:not(:first-child) {
      margin-left: 46px;
    }
  }
  &__content {
    text-decoration: none;
    color: var(--color-blackish);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
  }
}
