@use "../utils/mixins" as mixin;

.navbar {
  display: none;

  @include mixin.mq(tablet) {
    display: block;
  }
}
.navbar__list {
  display: flex;
  margin-left: 83px;
  flex-wrap: wrap;

  @include mixin.mq(desktop) {
    margin-left: 93px;
  }
}
.navbar__item {
  position: relative;
  &:not(:first-child) {
    margin-left: 46px;
  }
}
.navbar__content {
  text-decoration: none;
  color: var(--color-blackish);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}
