.newsletter {
  display: flex;
  gap: 12px;
  &__input {
    background-color: #2196f300;
    color: white;
    outline: none;
    padding: 15px;
    width: 358px;

    border: 1px solid #ffffff4d;
    border-radius: 4px;

    box-shadow: var(--cubic-transition-box-shadow);

    transition: var(--cubic-transition-bg-color);
    &::placeholder {
      color: #ffffff99;
      line-height: 1.25;
      letter-spacing: 0.03em;
    }
    &:focus {
      border-color: #2196f3;
    }
  }
}
