.our-team {
  &.section {
    background-color: #f5f4fa;
  }
  &__heading {
    color: var(--color-blackish);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &__name {
    margin: 30px 0 10px 0;
    color: var(--color-blackish);
    font-weight: 500;
    font-size: var(--default-font-size);
    line-height: 1.188;
  }
  &__specialization {
    color: var(--color-greyish);
    font-size: var(--default-font-size);
    line-height: 1.189;
    margin: 10px 0 16px 0;
  }
}
