@use "../utils/mixins" as mixin;

.post-header {
  margin: 0 auto;
  max-width: 1600px;
  background-image: linear-gradient(#2f303a66, #2f303a66),
    url("./../images/post-header/post-header-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(#2f303a66, #2f303a66),
      url("./../images/post-header/post-header-img@2x.jpg");
  }

  @include mixin.mq(tablet, and, desktop) {
    background-image: linear-gradient(#2f303a66, #2f303a66),
      url("./../images/post-header/post-header-img-tablet.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(#2f303a66, #2f303a66),
        url("./../images/post-header/post-header-img-tablet@2x.jpg");
    }
  }
  @include mixin.mq(desktop) {
    background-image: linear-gradient(#2f303a66, #2f303a66),
      url("./../images/post-header/post-header-img-desktop.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(#2f303a66, #2f303a66),
        url("./../images/post-header/post-header-img-desktop@2x.jpg");
    }
  }
}

.post-header.section {
  padding: 200px 0;
}
.post-header__heading {
  color: white;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  font-weight: 900;
  padding-bottom: 30px;
  letter-spacing: 0.06em;
  text-align: center;

  @include mixin.mq(desktop) {
    line-height: 1.364;
    font-size: 44px;
  }
}
