.socials {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
  }
  &__link {
    fill: #afb1b8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      var(--cubic-transition-fill);
    &:hover {
      fill: white;
      background-color: var(--color-blueish);
    }
  }
}
