@use "../utils/mixins" as mixin;

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 15px;

  @include mixin.mq(desktop) {
    padding-inline: 0;
  }
  @include mixin.mq(tablet, and, desktop) {
    max-width: 800px;
  }
}
.section {
  padding-block: 94px;
  &--medium {
    padding-block: 60px;
  }
}
.text-center {
  text-align: center;
}
.div-block {
  display: block;
}
.link {
  transition: var(--cubic-transition-color), var(--cubic-transition-fill);

  &:is(:hover, :focus) {
    color: var(--color-blueish);
    fill: var(--color-blueish);
  }
}
.page-active {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    background-color: var(--color-blueish);
    top: 44.8px;
    width: 100%;
    bottom: -31.8px;
    border-radius: 2px;
  }
}
